#name{
    margin-left: 0px;
}
#email{
    margin-left: 10px;
}
#intro{
    font-family: 'Prata', serif;
    font-size: 30px;
    color:black;
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0;
    height: 130px;
    margin-top: 15px;
}
.foot{
    margin-top: 40px;
    
}