#parent{
    padding-left: 20px;
    
   /* background-image: url("https://wallpapertag.com/wallpaper/full/e/f/5/156698-widescreen-white-gradient-background-1920x1080-for-windows.jpg") */
}
.card{
    font-family: 'Arvo', serif;
    background-color: grey;
    height:470px;
    margin-bottom: 20px;

}
.card-body{
    text-align: center;
}
.card-header{
    text-align: center;
}
#repo{
    font-weight: 700;
    margin-left:400px;

}
#usr{
    background-color:black;
    color:white;
}
.col-md-3{
    background-color: black;
}
.col-md-8{
    margin-top: 40px;
}
#card{
    transition: all .6s ease-in-out;
}

#card:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    tranform: scale(1.02);
    color:white;
}


