.reposi{
    text-align: center;
    margin-top: 20px ;
}
#fin{
    font-size: 33px;
}
.row{
    margin-left: 10px;
}
.col-md-4{
    margin-left: 5px;
    margin-top: 5px;
}
.card{
    background-color: silver;
    height:470px;
    margin-bottom: 20px;
}
#card{
    transition: all .6s ease-in-out;
}

#card:hover{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    tranform: scale(1.02);
}